@tailwind base;
@tailwind components;
@tailwind utilities;

.navbar {
  font-family: "Aleo", serif;
  font-weight: 700;
  font-style: normal;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 1.16px;
  color: #a5958c;
  transition: 0.3s all ease-in-out;
}
.active {
  color: #422c18;
  border-bottom: 3px dashed #dd5449;
}
.family-aleo {
  font-family: "Aleo", serif;
}
.family-grand {
  font-family: "Grand Hotel", cursive;
}
.family-lucky {
  font-family: "Luckiest Guy", cursive;
}
.subheading {
  text-transform: lowercase;

  color: rgb(252, 192, 68);
  text-decoration: none;

  text-align: center;
  line-height: 40px;
  letter-spacing: 0px;
  font-weight: 400;
  font-size: 35px;
}
.banner-contents {
  position: absolute;
  /* top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); */
  position: absolute;
  background: #00000069;
  inset: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.heading {
  text-transform: uppercase;
  color: rgb(255, 255, 255);
  text-align: center;
  line-height: 90px;
  letter-spacing: 1px;
  font-weight: 400;
  font-size: 100px;
}
.swiper-pagination-bullet {
  background: rgba(255, 255, 255, 0.3) !important;
}
.swiper-pagination-bullet-active {
  background-color: white !important;
}
.banner-btn {
  background-color: rgb(221, 84, 73);

  cursor: pointer;

  color: rgb(255, 255, 255);

  text-align: center;
  line-height: 17px;
  letter-spacing: 0px;
  font-weight: 700;
  font-size: 16px;
  border-color: transparent;
  padding: 24px 39px;
  border-radius: 8px;
  transition: 0.3s all ease-in-out;
  border-width: 0px;
  border-style: none;
}
.banner-btn:hover {
  background-color: rgb(188 69 59);
}
.banner-img {
  height: 760px;
  object-fit: cover;
  width: 100%;
}
.dynamic-glitch {
  width: 400px;
  height: 400px;
  z-index: 1;
  z-index: 1;
  pointer-events: none;
  opacity: 0.5;
  background-image: url(https://cdn.marvel.com/content/u/open-html-assets/marvel-error-pages/captain-america-glitch-3.7ae1f7ee.png),
    url(https://cdn.marvel.com/content/u/open-html-assets/marvel-error-pages/captain-america-glitch-3.7ae1f7ee.png),
    url(https://cdn.marvel.com/content/u/open-html-assets/marvel-error-pages/captain-america-glitch-3.7ae1f7ee.png);
  background-repeat: no-repeat;
  background-size: contain;
  /* margin: 0 auto; */
  animation: glitch 0.5s linear infinite;
  /* position: absolute; */
  /* inset: auto 0 -175px -500px; */
}

@keyframes glitch {
  0% {
    background-position: 50%, 50%, 50%;
  }
  25% {
    background-position: 50%, -5px 2px, 4px 5px;
  }
  50% {
    background-position: 50%, 2px 6px, -1px -1px;
  }
  75% {
    background-position: 50%, -2px 4px, 4px 8px;
  }
  100% {
    background-position: 50%, 3px 7px, -3px 0;
  }
}

.swiper-pagination-bullet {
  background-color: grey !important;
}
.swiper-pagination-bullet-active {
  background-color: orange !important;
}

.progress-bar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 10px;
  background: var(--red);
  transform-origin: 0%;
  z-index: 9;
  background-color: rgb(221, 84, 73) !important;
}
